/dev/oncrpc/*             0777   radio       system
/dev/msm_camera/*          0777   system       system
/dev/smdcntl0               0777   radio    radio
/dev/smdcntl1               0777   radio    radio
/dev/smdcntl2               0777   radio    radio
/dev/taos               0777   root       root
/dev/si4708               0777   root       root
/dev/msm_preproc_ctl	    0777   system   audio
/dev/genlock            0777    system  graphics
/dev/ttyHS0                 0777   root     system
/dev/kgsl-3d0           0777    system  graphics
/dev/graphics/*           0777    system  graphics
